# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-32
jpeg=8d=vc9_2
libpng=1.6.22=vc9_0
libtiff=4.0.6=vc9_2
openssl=1.0.2j=vc9_0
pip=9.0.1=py27_1
pyqt=4.11.4=py27_7
python=2.7.12=0
qt=4.8.7=vc9_9
requests=2.12.4=py27_0
setuptools=27.2.0=py27_1
sip=4.18=py27_0
vs2008_runtime=9.00.30729.1=2
wheel=0.29.0=py27_0
zlib=1.2.8=vc9_3